@import "compass";

$base-color: #FFFFF0;
$sub-color: #DCC2FF;
$accent-color: #191970;


body{
  font-family:Helvetica,Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic,“ヒラギノ角ゴ ProN W3″,“Hiragino Kaku Gothic ProN”, “メイリオ”,Meiryo, sans-serif;
  margin:0px;
  padding:0px;
  background-color: $base-color;
}

.flexible-images {
  background-image: url("../images/top.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.container {
  display: flex;
  flex-direction: row;
}

.skill-box {
  width: (100% / 3);
  margin: 10px;
  padding: 0px;
  border: 1px solid $sub-color;

  h2{
    margin:0px;
    padding:20px;
    text-align:center;
    border-bottom: 1px solid $sub-color;
    @include background(linear-gradient($sub-color, white));
    font-size: 18px;

  }
  p{
    padding: 20px;
    margin: 0px;
    background-color:white;
      font-size: 14px;

  }
}

.header{
  text-align:center;
  font-size: 30px;
}

.sub-header{
  text-align:center;
  font-size: 14px;
}

.footer{
  margin-top:30px;
//  border-top: 1px solid;
  background-color: $sub-color;
  @include background(linear-gradient($sub-color, white));
}


h3{
  text-align:center;
  padding-top:20px;
  padding-bottom:0px;
  margin-bottom:10px;
  font-size: 18px;
}

.footer_button{
  text-align:center;
  padding-bottom:40px;
  button{

    @include border-radius(8px);
    @include box-shadow();
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size:16px;
    padding:5px;
    border:1px;
    line-height: 25px;
    width:200px;
    background-color:$accent-color;
    color:white;
    font-size: 14px;
  }
}

strong{
  color: $accent-color;
}

@media (max-width: 768px) {
  .flexible-images {
    height:250px;
  }
  .container {
    flex-direction: column;
  }

  .skill-box {
    width:90%;
    margin: 10px auto;

  }
}

