@import "compass";


body{
  margin:0px;
  padding:0px;
}

.flexible-images {
  background-image: url("../images/top.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.container {
  display: flex;
  flex-direction: row;
}

.skill-box {
  width: (100% / 3);
  margin: 10px;
  padding: 0px;
  border: 1px solid blue;

  h2{
    margin:0px;
    padding:20px;
    text-align:center;
    border-bottom: 1px solid blue;
    background-color: skyblue;
    font-size: 14px;

  }
  p{
    padding: 20px;

  }
}

.header{
  text-align:center;
  font-size: 20px;
}

.footer{
  margin-top:30px;
  border-top: 1px solid;

  h3{
    text-align:center;
    padding-top:20px;
    padding-bottom:0px;
    margin-bottom:10px;
    
  }
  .footer_button{
    text-align:center;
    padding-bottom:40px;
    button{

      @include border-radius(8px);
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      font-size:16px;
      padding:5px;
      border:1px;
      line-height: 25px;
      width:200px;
      background-color:pink;

    }
  }
}


@media (max-width: 768px) {
  .flexible-images {
    height:250px;  
  }
  .container {
    flex-direction: column;
  }
  
  .skill-box {
    width:95%;  
    p{
      color: white;
      background-color: gray;
    }
  }
}

